@import "~bulma-extensions";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.has-background-shogiapp {
  background-color: #473F35;
}

.margin-text{
  margin: 30px;
  padding: 30px;
}

.icon-a {
  color: #473F35;
}

.block-a {
  text-align: right;
  margin: 20px;
}

.icon {
  display: flex;
  justify-content: right;
  align-items: center;
}
